@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

* {
        font-size: 20px;
}
h1 {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 100px;
    color: #cdd6f4;
    font-weight: 800;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}
body {
    text-align: center;
    justify-content: center;
        background-color: #0d0d14;
    color: #fff;
    font-family: "Inter";
}

h1:hover {
    color: #c3cbff;
    transform: translateY(-2px);
}

a {
    color: #c3cbff;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

a:hover {
    transform: translateY(1px);
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

.music-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(203, 166, 247, 0.1);
    color: #c3cbff;
    border: 2px solid #c3cbff;
    border-radius: 50px;
    padding: 0 1rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.music-btn:hover {
    background-color: #cdd6f4;
    color: #1E1E2E;
    box-shadow: 0 0 20px rgba(203, 166, 247, 0.6);
    transform: scale(1.1);
}
