@import 'https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

* {
    cursor: none;

}

html {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

body,
html {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    /* background-color: #212227;*/
    font-family: "DM Sans", Arial, system-ui;
    color: white;
    text-decoration: none;
}

a {
    color: rgb(183, 232, 255);
}

a:hover {
    color: #84cbfa;
    font-size: medium;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transition: all .2s ease-in;
}

dd {
    margin: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-style: oblique;
}

.simple {
    font-size: large;
    font-weight: 600;
    color: rgb(130, 215, 255);
}

.intro h3 {
    margin: 0 0 0.5rem 0;
}

.intro p {
    margin: 0.25rem 0;
}

#osu-cursor {
    position: fixed;
    width: 26px;
    height: 26px;
    border: 3px solid white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

#cursor-trail {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    pointer-events: none;
}